/* ========================= [ Login styling ] ============================= */

.loginWrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox {
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

}

.loginBox h1 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 5px 0;
    font-weight: 600;
}

.loginBox form {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loginBox input {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 0;
    outline: 1px solid rgba(0, 0, 0, 0.5);
}

.loginBox input:hover {
    outline: 2px solid rgba(0, 0, 0, 1);
    border: 0;
}

.loginBox input:active {
    outline: 2px solid rgba(0, 0, 0, 1);
    border: 0;
}

.loginBox input:focus {
    outline: 2px solid rgba(0, 0, 0, 1);
    border: 0;
}

.loginBox button {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 0;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.loginBox button:hover {
    outline: 2px solid rgba(0, 0, 0, 1);
    border: 0;
}


.loaderContianer {
    width: 100%;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid grey;
    width: 70px;
    margin: 0 auto;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* ========================= [ Login styling ] ============================= */

/* ========================= [ top fixed bar styling ] ============================= */
nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.headerName {
    width: 100%;
    text-align: center;
}

.logoutButton {
    width: 100%;
    text-align: right;
}

.logoutButton button {
    width: max-content;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 0;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.logoutButton button:hover {
    outline: 2px solid rgba(0, 0, 0, 1);
    border: 0;
}

/* ========================= [ top fixed bar styling ] ============================= */






/* =========================== [ customerPanel ] =========================== */
.customerPanel {
    width: 100%;
    margin: 64px 0 0 0;
    height: calc(100vh - 80px);
    padding: 0 20px;
    overflow: hidden;
    overflow-y: auto;
}

/* width */
.customerPanel::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.customerPanel::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.customerPanel::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.customerPanel::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.customerAactionBar {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customerAactionBar button {
    width: max-content;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 0;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.customerAactionBar button:hover {
    outline: 2px solid rgba(0, 0, 0, 1);
    border: 0;
}

#contract_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#contract_table td,
#contract_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#contract_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#contract_table tr:hover {
    background-color: #ddd;
}

#contract_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}






.newContaractform {
    width: 100%;
    margin: 64px 0 0 0;
    height: calc(100vh - 80px);
    padding: 0 20px;
}

.newContaractform h1 {
    padding: 10px 0 0 0;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
}

.newContaractform .contract-form-container {
    width: 600px !important;
    max-width: 100%;
    padding: 0px 20px;
    margin: 0 auto;
}

.newContaractform .contract-form {
    display: flex;
    flex-direction: column;
}

.newContaractform .form-group {
    margin-bottom: 20px;
}

.newContaractform label {
    font-size: 15px;
}

.newContaractform input[type='text'],
.newContaractform input[type='date'],
.newContaractform select,
.newContaractform textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.newContaractform button[type='submit'] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.newContaractform button[type='submit']:hover {
    background-color: #0056b3;
}

/* =========================== [ customerPanel ] =========================== */